<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-give-classes.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Proffy</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

</head>
<body id="page-give-classes">

    <section id="container">

        <!-- Header | cabeçalho -->
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>

                <img src="/images/logo.svg" alt="Proffy Logo">
            </div>

            <!-- Formulário de pesqusia -->
            <div class="header-content">
                <strong>Que invrivel que você quer dar aulas</strong>
                <p>O primeiro passo, é preencher esse formulário de inscrições</p>
            </div>
        </header>

        <!-- Conteúdo Principal | Form -->
        <main>

            <form id="create-class" action="/save-class" method="POST">

                <!-- FIELDSET 1° || Seus dados -->
                <fieldset>
                    <legend>Seus dados</legend>

                    <!-- Nome -->
                    <div class="input-block">
                        <label for="name">Nome completo</label>
                        <input name="name" id="name" required>
                    </div>

                    <!-- Link da foto -->
                    <div class="input-block">
                        <label for="avatar">Link da sua foto <small>(comece com https://)</small></label>
                        <input name="avatar" id="avatar" type="url" required>
                    </div>

                    <!-- Wgatsapp -->
                    <div class="input-block">
                        <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                        <input name="whatsapp" id="whatsapp" type="number" required>
                    </div>

                    <!-- Biografia -->
                    <div class="textarea-block">
                        <label for="bio">Biografia</label>
                        <textarea name="bio" id="bio" required></textarea> 
                    </div>
                </fieldset>

                <!-- FIELDSET 2° || Sobre a aula -->
                <fieldset>
                    <legend>Sobre a aula</legend>

                    <!-- Materia -->
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject" required>
                            <option value="">Selecione uma opção</option>
                            
                            {%for subject in subjects%}
                                <option value="{{ loop.index }}">
                                    {{ subject }}
                                </option>
                            {%endfor%}

                        </select>
                    </div>

                    <!-- Custo da aula -->
                    <div class="input-block">
                        <label for="cost"> Custo da sua hora/aula <small>(R$)</small> </label>
                        <input name="cost" id="cost" type="number" required>
                    </div>

                </fieldset>

                <!-- FIELDSET 3° || Horários disponíveis -->
                <fieldset id="schedule-items">
                    <legend>Horários disponíveis
                        <button type="button" id="add-time">+ Novo Horário</button>
                    </legend>

                    <!-- item de programação -->
                    <div class="schedule-item">

                        <!-- Dia da semana -->
                        <div class="select-block">
                            <label for="weekday">Dia da semana</label>
                            <select name="weekday[]" required>
                                <option value="">Selecione uma opção</option>
                                
                                {%for weekday in weekdays%}
                                    <option value="{{ loop.index0 }}">
                                        {{ weekday }}
                                    </option>
                                {%endfor%}

                            </select>
                        </div>

                        <!-- Das -->
                        <div class="input-block">
                            <label for="time_from">Das</label>
                            <input type="time" name="time_from[]" required>
                        </div>

                        <!-- Até -->
                        <div class="input-block">
                            <label for="time_to">Até</label>
                            <input type="time" name="time_to[]" required>
                        </div>

                    </div>

                </fieldset>

            </form>

            <!-- Footer -->
            <footer>
                <p>
                    <img src="/images/icons/warning.svg" alt="Atenção">
                    Importante! <br> Preencha todos os dados
                </p>

                <button type="submit" form="create-class">Salvar cadastro</button>
            </footer>

        </main>
    
    </section>

    <!-- Scripts -->
    <script src="/scripts/addField.js"></script>
</body>
</html>

